*~
lib/strings_in_db.rb
log/*.log
log/*.gz
tmp/**/*
doc/api
doc/app
config/database.yml
config/mongrel_cluster.yml
config/thin.yml
config/mail_settings.rb
db/schema.rb
public/javascripts/all.js
!app/views/layouts/application.*
app/views/layouts/*
vendor/rails
