<h1><%= _('Welcome, %s') % @user.name %></h1>

<div id="my-upcoming">
  <h3><%= _'Next conferences you are signed up for' %></h3>
  <%= render :partial => 'conferences/list', 
             :locals => {:confs => @mine} %>
</div>

<div id="upcoming">
  <h3><%= _'Upcoming conferences' %></h3>
  <%= render :partial => 'conferences/list', 
             :locals => {:confs => @upcoming} %>
</div>
