<div id="loginreq">
<% form_tag :action => 'validate' do %>
<p><%= 'User name' %>: <input type="text" size="20" name="login"></p>

<p><%= 'Password' %>: <input type="password" size="20" name="passwd"></p>
<p><input type="submit" name="ok" value="<%= 'Log in' %>"></p>
<% end %>
</div>
