<% comas_form_for :person, @person, :url => {:action => 'register'} do |f| %>
  <%= f.auto_field('login') %>
  <%= f.password_field('passwd') %>
  <%= f.auto_field('firstname') %>
  <%= f.auto_field('famname') %>
  <%= f.auto_field('email') %>
  <% @person.extra_listable_attributes.each do |attr| %>
    <%= f.auto_field(attr) %>
  <% end %>
  <%= f.submit _('Create') %>
<% end %>
