<h1><%= _'New account' %></h1>
<p><%= _'Please fill in the following required details for your '+
        'account creation' %></p>
<%= render :partial => 'pers_data', 
           :locals => {:person => @person, :url => {:action => 'register'},
                       :subm => _('Create account'), :include_passwd => true} %>
