<h1><%= _'Personal information' %></h1>
<%= render :partial => 'pers_data',
           :locals => {:person => @user, :url => {:id => @user},
                       :subm => _('Save changes'), :include_passwd => false} %>
