<h1><%= _("Edit conference data") %></h1>
<%= render :partial => 'form', 
           :locals => {:action => 'show', :submit => _('Save changes')} %>
<p><%= link_to _('Edit timeslots for this conference'),
               :action => 'timeslots', :id => @conference %></p>
