/* Comas-specific elements */
/* */
/* This stylesheet has been created to separate the general appearance */
/* theme from the Comas-specific elements, so you can personalize your */
/* site's appearance with the minimum possible pain. */
/* */
/* This file should include only Comas-specific elements, and should be */
/* directly includable within other themes. */
/* */
/* Of course, bear in mind the separation was done by a programmer, not by */
/* a designer :-} */

/* General table elements for which we expect consistency */
/* */
/* In order to override table row coloring, use the same selectors */
/* (.listing-head, .listing-even, .listing-odd) and place your CSS after */
/* this one. */

table {
    border-collapse: collapse;
    margin: 0.5em;
}

td, th {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
}

.listing-head {
    background: #fff7e2;
}

.listing-even {
    background: #ccc5b0;
}

.listing-odd {
    background: #eee6d1;
}

/* Language selection links */
#locales { font-size: 70%; }

/* Login request */
#loginreq {
        background-color: #fff7e2;
        border: solid #face78 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
	margin-top: 3em;
	margin-bottom: 7em;
        padding: 1em;
        text-align: center;
        width: 60%;
}

/* Currently logged-in user's details */

#logindata {
        text-align: right;
        width: 100%;
        font-size: 60%;
        font-style: italic;
}

#myphoto {
    float: right;
    padding: 0.5em;
    clear: both;
}

#loginreq {
    background-image:url(usrlogin.png);
    background-repeat: no-repeat;
    background-position: 0.5em 0.5em;
}

/* Errors, warnings, notices */
#flash-error, #flash-warning, #flash-notice {
       padding: 0.2em;
       margin-left: auto;
       margin-right: auto;
       margin-top: 0.2em;
       margin-bottom: 0.2em;
       width: 70%;
       text-align: center;
       font-size: 120%;
       display: block;
}

#flash-error {
       color: #f00;
       background-color: #ffd;
       border: solid #f00 2px;
}

#flash-warning {
       color: #000;
       background-color: #eee;
       border: solid #000 2px;
}

#flash-notice {
       color: #557;
       background-color: #ddf;
       border: solid #557 2px;
}

/* Form and information elements */
.info-row, .form-row {
    padding: 0.1em;
}

.info-title, .show-prompt {
    font-weight: bold;
}

.info-data, .show-data {
}

.form-prompt {
    display: block;
    font-weight: bold;
}

.form-note {
    display: block;
    font-style: italic;
    font-size: 80%;
}

.form-input {
    display: block;
}

.form-input textarea {
    height: 10em;
    width: 40em;
}

.checkbox {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.note {
    font-style: italic;
    font-size: 70%;
}

.please-register {
    color: #c00;
    font-size: 80%;
    text-align: right;
    margin: 0.3em;
}

.comas-show-prompt {
    font-weight: bold;
}

.comas-show-data {
}

.comas-form-prompt {
    display: block;
    font-weight: bold;
}

.comas-form-note {
    display: block;
    font-style: italic;
    font-size: 80%;
}

.comas-form-input {
    display: block;
}

.comas-checkbox {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.comas-collapsed {
    border: solid #face78 1px;
    padding-left: 1em;
}

.fieldWithErrors input {
    border: solid red 2px;
    color: red;
    background: #fee;
}

.comas-for-admin {
    border: solid black 1px;
    background-color: #eee;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
    font-size: 70%;
}
