<h1><%=h @conference.name %></h1>
<p><%=h @conference.descr %></p>

<p><%=h @conference.begins %> - <%=h @conference.finishes %></p>

<% if !@conference.homepage.blank? %>
  <p><%= link_to 'Web site'.t, @conference.homepage %></p>
<% end %>
