<h1><%= @conference.name %></h1>
<p><%= @conference.descr %></p>

<p><%= @conference.begins %> - <%= @conference.finishes %></p>

<% if !@conference.homepage.blank? %>
  <p><%= link_to _('Web site'), @conference.homepage %></p>
<% end %>
