<h1><%= _'Edit your proposal' %></h1>

<%= render(:partial => 'form', 
           :locals => {:proposal => @proposal,
                       :action => 'edit',
                       :choose_confs => false,
                       :submit_label => _('Save changes') }) %>
