<% row=0 %>
<h1><%= _'Choose a session to take attendance for' %></h1>

<% if @todays and !@todays.empty? %>
<div class="timeslot-list">
  <h3><%= _'Timeslots for today' %></h3>
  <% @todays.each do |tslot| %>
  <%= row += 1
      render(:partial => 'show_timeslot', 
             :locals => {:tslot => tslot, :row => row}) %>
  <% end %>
</div>
<% end %>
